<h2>Bài tự làm 2</h2>
    <div class="row">
        <div class="col-sm-2">
            <span>Nhập n: </span>
        </div>
        <div class="col-sm-4">
            <input type="text"  [(ngModel)]="n" class="form-control">
        </div>
        
    </div>
    <div class="row">
        <div class="col-sm-2">
            <span>Nhập x: </span>
        </div>
        <div class="col-sm-4">
            <input type="text"  [(ngModel)]="x" class="form-control">
        </div>
        
    </div>
        <button type="button" class="btn btn-primary" style="position: relative;left: 30%;top: 5px;"  (click)="tinh()">Tính</button>
    <h3>Kết quả: {{s}}</h3>