<div class="container">
  <h2>Bài tập mẫu</h2><br>
  <a [routerLink]="['/Bai1']" ><button type="button" class="btn btn-primary">Bài 1</button></a>&nbsp;
  <a [routerLink]="['/Bai2']" ><button type="button" class="btn btn-secondary">Bài 2</button></a>&nbsp;
  <a [routerLink]="['/Bai3']" ><button type="button" class="btn btn-success">Bài 3</button></a>&nbsp;<br>
  <h2>Bài tập tự làm</h2><br>
  <a [routerLink]="['/Baitl1']" ><button type="button" class="btn btn-danger">Bài 1</button></a>&nbsp;
  <a [routerLink]="['/Baitl2']" ><button type="button" class="btn btn-warning">Bài 2</button></a>&nbsp;
  <a [routerLink]="['/Baitl3']" ><button type="button" class="btn btn-info">Bài 3</button></a>&nbsp;
  <a [routerLink]="['/Baitl4']" ><button type="button" class="btn btn-dark">Bài 4</button></a>&nbsp;
  <a [routerLink]="['/Baitl5']" ><button type="button" class="btn btn-primary">Bài 5</button></a>&nbsp;
  <a [routerLink]="['/Baitl6']" ><button type="button" class="btn btn-danger">Bài 6</button></a>&nbsp;
  <a [routerLink]="['/Baitl7']" ><button type="button" class="btn btn-warning">Bài 7</button></a>&nbsp;
  <a [routerLink]="['/Baitl8']" ><button type="button" class="btn btn-secondary">Bài 8</button></a>&nbsp;
  <hr size="5px" color="red">
  <router-outlet></router-outlet>
</div>